<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'new.css' %}">
    <title>Document</title>
</head>
<body>
    <div class= "wrapper">
        <div class="title"><p>할 일 작성하기</p></div>
        <form action="" method="post">
            {% csrf_token %} 
            <div class= "box">
                <label for="title">할 일: </label>
                <input type="text" id="title" name="title" placeholder="할 일을 입력해주세요.">
            </div>

            <div class="box">
                <label for="content">내용</label>
                <textarea name="content" id="content" cols="30" rows="10" placeholder="내용을 입력해주세요."></textarea>
            </div>

            <div class="box">
                <label for="due">마감기한</label>
                <input type="datetime-local" id="due" name="due">
            </div>

            <button type="submit">작성하기</button>
        </form>
    </div>
</body>
</html>