@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Nanum Gothic Coding', monospace;
    color: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0.7) 0%, rgba(31,5,84,0.7) 0%, rgba(121,9,109,0.7) 47%, rgba(0,189,255,0.7) 100%);
}


.wrapper {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:link {
    color: white;
}

a:visited {
    color:bisque;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
    cursor:pointer;
    top: 0;
    left: 0;
    right: 0;
}

.navbar {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: hsla(0, 58%, 93%, 0.5);
    height: 50px;
    width: 1000px;
    
}

#dropdown {
    z-index: 1;
    display: flex;
}

#dropdown > a {
    list-style: none;
    transition: all 0.3s ease 0s;
    font-size: 20px;
    font-weight: 600;
    padding: 8%;
    margin-top: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration-line: none;
    text-align: center;
}

.navbar > nav-item {
    display: flex;
    justify-content: space-between;
}

.navbar > button {
    cursor: pointer;
    font-size: 30px;
    border:none;
    outline:none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}