<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load socialaccount %}
    {% providers_media_js %}
    <meta charset="UTF-8">
    
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    {% block css %} 
    {% endblock %} 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todoHome</title>
</head>

<body>
    <header>
        <nav>
            <div class="navbar">
                <a class="nav-item" href="{% url 'home' %}">HOME</a>
                <a class="nav-item" href="{% url 'new' %}">ADD</a>

                {% if user.is_authenticated %}
                <a class="nav-item">안녕하세요, {{ user.username }}님 </a>
                <a class="nav-item" href="{% url 'mypage' %}">My Page</a>
                 <a class="nav-item" href="{% url 'logout' %}">LOGOUT</a>
                {% else %}
                <a class="nav-item" href="{% url 'login' %}">LOGIN</a>
                <a class="nav-item" href="{% provider_login_url 'kakao' %}">KAKAO LOGIN</a>              
                <a class="nav-item" href="{% url 'signup' %}">SIGN UP</a>
                {% endif %}
            </div>
        </nav>
    </header>

    <div class= "wrapper">
        {% block wrapper %} 

        {% endblock %} 
    </div>

    

</body>
</html>