@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

html {
    font-family: 'Nanum Gothic Coding', monospace;
    color: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,5,84,1) 0%, rgba(121,9,109,1) 47%, rgba(0,189,255,1) 100%);
}

.wrapper {
    color: white;
}

a:link {
    color: white;
}

a:visited {
    color:bisque;
}